<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>12</string>
					<key>EndingLineNumber</key>
					<string>672</string>
					<key>StartingColumnNumber</key>
					<string>12</string>
					<key>StartingLineNumber</key>
					<string>672</string>
					<key>Timestamp</key>
					<string>770459190.531224</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SeraApp/PDFManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            return formData.time
        case "doc_0_doc_0_Text_3": // location - الموقع 
            </string>
				<key>trailing</key>
				<string>return formData.location
        case "doc_0_doc_0_Text_4": // subscriptionNumber - رقم الاشتراك
            return formData.subscriptionNumber
</string>
			</dict>
			<key>title</key>
			<string>Error: Value of type 'FormFieldsModel' has no member 'signatu'</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
