<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>sera hajj</string>
    <key>CFBundleName</key>
    <string>sera hajj</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleIdentifier</key>
    <string>com.sera.hajj</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>sera hajj</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>Default Configuration</string>
                    <key>UISceneDelegateClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Resources/Bahij_TheSansArabic-Plain.ttf</string>
        <string>Resources/Bahij_TheSansArabic-Light.ttf</string>
        <string>Resources/Bahij_TheSansArabic-ExtraLight.ttf</string>
        <string>Resources/Bahij_TheSansArabic-SemiLight.ttf</string>
        <string>Resources/Bahij_TheSansArabic-SemiBold.ttf</string>
        <string>Resources/Bahij_TheSansArabic-Bold.ttf</string>
        <string>Resources/Bahij_TheSansArabic-ExtraBold.ttf</string>
        <string>Resources/Bahij_TheSansArabic-Black.ttf</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>يستخدم هذا التطبيق الكاميرا لالتقاط الصور وإضافتها إلى ملفات PDF</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>يصل هذا التطبيق إلى معرض الصور لاختيار الصور وإضافتها إلى ملفات PDF</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>يحتاج هذا التطبيق للوصول إلى مجلد المستندات لحفظ ملفات PDF</string>
</dict>
</plist> 